.logo {
    width: 60px;
    filter: brightness(1.1);  /*quita el fondo blanco de la imagen */
    mix-blend-mode: multiply;
}

.welcome {
    background: url('/img/background.jpg');
    background-position: center center;
    background-size: cover;
}